@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

body{
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.modal-img{
  height: 40vh;
  object-fit: contain;
  width: 100%;
}

.small-text{
  font-size: 13px;
  letter-spacing: .5ps;
  font-weight: 500;
  word-spacing: .2em;
}

.no{
  text-align: center;
  height: 80vh;
  align-items: center;
  display: flex;
  justify-content: center;
}